<div *ngIf="movie" class="details-container">
  <img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" alt="">
  <div class="details">
<h2>{{movie.title}}</h2>
  <ul class="trivia">
    <li>
      <h3>Release Date</h3>
      <p>{{movie.release_date}}</p>
    </li>
    <li>
      <h3>Overview</h3>
      <p>{{movie.overview}}</p>
    </li>
    <li>
      <h3>User Score: {{movie.vote_average}}</h3>
    </li>
  </ul>
  </div>

</div>
<div class="footer">
  <button (click)="goBack()" class="back-button">back</button>
</div>
