@import 'https://fonts.googleapis.com/css?family=Lato';

.search-bar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #589DB0;
  margin-bottom: 1em;
  transition: height 1s;
}

.search-bar.afterSearch {
  height: 10%;
  align-items: center;
}

.search-input {
  color: #589DB0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 0.1em 1em;
  height: 1.6em;
  width: 20em;
  margin-right: 0.5em;
  border-radius: 10px;
  border: 1px solid #fff;
}

.search-input:focus, .search-button:focus {
  outline: none;
}

.search-button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #FFF;
  border-radius: 10px;
  background-color:  transparent;
  border: 1px solid #FFF;
  width: 5em;
  height: 2em;
  padding: 0;
  cursor: pointer;
  cursor: hand;
}

.search-button:hover {
  text-shadow:0px 0px 30px #fff;
  box-shadow: 0px 0px 3px #fff;
}
